body{
    background-image: url("../bg.jpg");
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    overflow: hidden;
    color: #080808aa;
    background-attachment:local;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg{
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column; 
    padding: 1.2rem;
}

@font-face {
    font-family: Tangerine;
    src: url(../fonts/Tangerine-Regular.ttf);
}

@font-face {
  font-family: Pacifico;
  src: url(../fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: AbrilFatface;
  src: url(../fonts/AbrilFatface-Regular.ttf);
}

@font-face {
  font-family: NovaSquare;
  src: url(../fonts/NovaSquare-Regular.ttf);
}

@font-face {
  font-family: PermanentMarker;
  src: url(../fonts/PermanentMarker-Regular.ttf);
}

@mixin header{
  font-size: 2.2rem;
  font-family: Tangerine;
  font-weight:500;
}

@mixin header-bar{
  display: flex;
  width: 100%;
  flex-direction: row;
}

.header-title{
   @include header;
}

.header-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: 2.4rem;
  border-radius: 0.5rem;
  border: solid 2px grey;
  color: grey;
  width: 3.4rem;
  height: 3.4rem;
  font-family: PermanentMarker;
}

.header-bar-desktop{
    @include header-bar;
    align-items: center;
    gap: 0.3rem;
    margin-bottom: 1rem;
}

.header-bar-mobile{
    @include header-bar;
    display: none;
    background-color: #00000020;
    backdrop-filter: blur(2px);
    position: fixed;
    z-index: 200;
    gap: 1rem;
}

.header-bar-title{
  font-size: 1.8rem;
  font-family: Tangerine;
  font-weight:200;
  color: white;
  display: inline;
}

@media (max-width: 991px) {
  html{
    font-size: 85%;
  }

  .bg{
      overflow: auto;
      background-position: fixed;
      background-size: auto 100%;
  }
}

@media (max-width: 768px) {
  html{
    font-size: 60%;
  }
  .bg{
    flex-direction: column;
    padding: 0px;
  }

  .header-title{
      display: none;
  }

  .header-bar-desktop{
    display: none;
  }

  .header-bar-mobile{
      display: flex;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 8px;
  }
}