#root {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg{
    background-image: url("../bg.jpg");
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
    background-attachment:local;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #3b0e3b;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column; 
    padding: 1.2rem;
}

@mixin header{
  font-size: 1.8rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight:200;
}

.header-title{
   @include header;
}

.header-bar{
    display: none;
    background-color: #00000020;
    backdrop-filter: blur(2px);
    position: fixed;
    width: 100%;
    z-index: 200;
}

.header-bar-title{
  @include header;
  color: white;
  display: block;
}

@media (max-width: 991px) {
  html{
    font-size: 85%;
  }

  .bg{
      overflow: auto;
      background-position: fixed;
      background-size: auto 100%;
  }
}

@media (max-width: 768px) {
  html{
    font-size: 60%;
  }
  .bg{
    flex-direction: column;
    padding: 0px;
  }

  .header-title{
      display: none;
  }

  .header-bar{
      display: block;
      padding-bottom: 8px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 8px;
  }
}