.input-form{
    display: flex;
    align-items: center;
    border: solid grey 1px;
    width: 500px;
    border-radius: 25px;
    background-color: white;
    padding: 1px;
  }
  
  .input{
    &:focus{
        outline: none;
    }
    padding-left: 6px;
    color: grey;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1.5;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex: 1;
    height: 46px;
    border: none;
    background-color: transparent;
  }
  
  .input-icon{
    border-radius: 23px;
    background-color: rgba($color: #4578ff, $alpha: 0.8);
    border: solid #4578ff 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
  }

  @media (max-width: 991px) {
  }
  
  @media (max-width: 768px) {
      .input-form{
        width: auto;
      }
  }