.main{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: end;
    flex-direction: row
}

.main-top{
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

.main-bottom{
    //display: flex;
    //flex-direction: column;
    //background-color:#00000036;
    margin-top: 3rem;
    padding: 1.2rem;
    border-radius: 30px;
    //backdrop-filter:blur(2px);
}

.main-current-container{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
}


@mixin search-settings-container{
    display: flex;
    width: 100%;
    align-items: center;
}

.main-bottom-search-settings-container{
    @include search-settings-container;
    justify-content: space-between;
}

.header-bar-search-settings-container{
    @include search-settings-container;
    justify-content: stretch;
}

.main-chat-root{ 
    padding-right: 1.2rem;
}

@media (max-width: 991px) {
    .main-top{
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
}
  
@media (max-width: 768px) {
    .main{
        flex: auto;
        flex-direction: column;
        align-items: center;
        //gap: 20px;
    }

    .main-bottom{
        //display: flex;
        //flex-direction: column;
        background-color: transparent;
        padding: 0px;
        padding-top: 0rem;
        //border-radius: 30px;
        //backdrop-filter:blur(2px);
        margin-bottom: 20px;
    }

    .main-top{
        flex: auto;
        height: auto;
        width: 100%;
        margin-top: 120px;
        gap: 16px;
    }

    .main-bottom-search-settings-container{
        justify-content: flex-end;
    }

    .desktop-search{
        display: none;
    }
}