@mixin option-btn{
    flex: 1;
    padding-left: 0.92rem;
    padding-right: 0.92rem;
    padding-top: 0.42rem;
    padding-bottom: 0.42rem;
    cursor: pointer;
    border: solid transparent 2px;
    backdrop-filter: blur(2px);
    font-size: 0.9rem;
    font-weight: 300;
    background-color: #00000020;
    &:hover{
        border-color: whitesmoke;
    }
}

.others-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
}

.options{
    display: flex;
    background-color: transparent;
    color: white;
    border-radius: 0.6rem;
}

.option-btn-left{
    @include option-btn;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.option-btn-right{
    @include option-btn;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.option-btn-active{
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: grey;
}

@keyframes slide-up {
    0% {
        transform:translateY(10%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.others-item-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 0.6rem;
    animation: slide-up 800ms ease-in-out;
}

@keyframes zoom {
    0% {transform: scale(0.99);}
    100% {transform: scale(1.02);}
}

.others-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: #ffffff50;
    border-radius: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    cursor: pointer;

    &:hover{
        animation: zoom 1200ms ease-in-out;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transform: scale(1.02);
    }
}

.others-item-name{
    font-weight: 500;
    letter-spacing: 1.6;
    font-size: 1.2rem
}

.others-item-image{
    height: 12rem;
    width: 12rem;
    margin-top: -2.5rem;
    margin-bottom: -2.3rem;
}

.others-item-temp{
    font-size: 1.3rem;
    font-weight: 300;
}

.others-item-more-container{
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0.6rem;
    width: 100%
}

.others-item-more{
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .others-item-container{
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 768px) {
    .others-item-container{
        grid-template-columns: auto auto auto;
        width: 100%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .options{
        //margin-top: 20px;
        margin-right: 1rem;
    }

    .others-item-image{
        height: auto;
        width: 100%;
    }
}