@mixin option-btn{
    flex: 1;
    padding-left: 0.92rem;
    padding-right: 0.92rem;
    padding-top: 0.42rem;
    padding-bottom: 0.42rem;
    cursor: pointer;
    border: solid transparent 2px;
    backdrop-filter: blur(2px);
    font-size: 0.9rem;
    font-weight: 300;
    background-color: #00000020;
    &:hover{
        border-color: whitesmoke;
    }
}

.others-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;
    align-items: flex-end;
}

.options{
    display: flex;
    background-color: transparent;
    color: white;
    margin-top: 2.3rem;
}

.option-btn-left{
    @include option-btn;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.option-btn-right{
    @include option-btn;
    border-top-right-radius: 0.6rem;
    border-bottom-right-radius: 0.6rem;
}

.option-btn-active{
    background-color: whitesmoke;
    border-color: whitesmoke;
    color: grey;
}

.others-item-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.others-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: #ffffff50;
    margin: 0.4rem;
    border-radius: 1.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
}

.others-item-name{
    font-weight: 300;
    letter-spacing: 1.6;
    font-size: 1.2rem
}

.others-item-image{
    height: 12rem;
    width: 12rem;
    margin-top: -2.7rem;
    margin-bottom: -2.5rem;
}

.others-item-temp{
    font-size: 1.6rem;
    font-weight: 300;
}

.others-item-more-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 0.6rem;
    width: 100%
}

.others-item-more{
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .others-item-container{
        grid-template-columns: auto auto auto;
    }

    .others-item-image{
        /*height: 160px;
        width: 160px;
        margin-top: -30px;
        margin-bottom: -40px;*/
    }
}

@media (max-width: 768px) {
    .others-item-container{
        grid-template-columns: auto auto auto;
        width: 100%;
    }

    .options{
        //margin-top: 20px;
        margin-right: 1rem;
    }

    .others-item-image{
        height: auto;
        width: 100%;
    }

    .others-item{
        /*margin: 5px;
        padding-top: 5px;
        padding-bottom: 5px;*/
    }
}